.login-body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 400px; /* Set a fixed width for the login container */
  background-color: white;
  border-radius: 12px;
  padding-top: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto; /* Center the container horizontally */
  position: relative; /* Allow absolute positioning of the child elements */
  top: 50%; /* Position it from the top */
  transform: translateY(-50%); /* Center it vertically */
}

.login-header {
  background-color: #4b23f7;
  color: white;
  padding: 30px 20px;
  text-align: center;
  border-bottom-left-radius: 50px;
}

.login-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.login-header p {
  font-size: 14px;
  opacity: 0.8;
}

.login-form {
  padding: 30px 20px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.forgot-password {
  color: #4b23f7;
  text-decoration: none;
}

.login-button {
  width: 100%;
  background-color: #4b23f7;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-google-btn {
  width: 100%;
  background-color: #db4437;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.signup-link a {
  color: #4b23f7;
  text-decoration: none;
}
